<%= form_with model: @order do |f| %>
  <table class='formTable' border="0">
    <thead>
      <tr>
        <th>name</th>
        <th>total_amount</th>
        <th>tax</th>
        <th>zipcode</th>
        <th>state</th>
        <th>city</th>
        <th>area</th>
        <th>address</th>
      </tr>
    </thead>
    <tbody>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :purchase_amount, class:'amount' %></td>
      <td><%= f.text_field :tax %></td>
      <td><%= f.text_field :delivery_zipcode %></td>
      <td><%= f.text_field :delivery_state %></td>
      <td><%= f.text_field :delivery_city %></td>
      <td><%= f.text_field :delivery_area %></td>
      <td><%= f.text_field :delivery_address %></td>
    </tbody>
  </table>

  <%= f.fields_for :order_items,  @items do |oi| %>
    <table class='formTable' border="0">
      <thead>
        <tr>
          <th>ItemName</th>
          <th>ItemQty</th>
          <th>ItemPrice</th>
          <th>TotalAmount</th>
          <th>Order</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <%= oi.select :sku_code, @zaikos.map{ |zaiko| [zaiko.sku_code, zaiko.id, { "data-max-qty"=> zaiko.stock }, { "data-item-price" => zaiko.price }]}, {include_blank: '商品を選択して下さい'}, class: "SkuBox" %>
            </td>
            <td><%= oi.text_field :quantity, class: "inputNum itemQty", type: "number", value: "0",max: "10" ,min: "0",style: "width:80%" %></td>
            <td><%= oi.text_field :price, class: "inputNum itemPrice formReadOnly", type: "number", value: "0", readonly: true %></td>
            <td><%= oi.text_field :total_amount, class: "totalPrice formReadOnly", readonly: true %></td>
            <td id="remove_id_1"></td>
          </tr>
          <tr>
            <td>
              <%= oi.select :sku_code, @zaikos.map{ |zaiko| [zaiko.sku_code, zaiko.id, { "data-max-qty"=> zaiko.stock }, { "data-item-price" => zaiko.price }]}, {include_blank: '商品を選択して下さい'}, class: "SkuBox" %>
            </td>
            <td><%= oi.text_field :quantity, class: "inputNum itemQty", type: "number", value: "0",max: "10" ,min: "0",style: "width:80%" %></td>
            <td><%= oi.text_field :price, class: "inputNum itemPrice formReadOnly", type: "number", value: "0", readonly: true %></td>
            <td><%= oi.text_field :total_amount, class: "totalPrice formReadOnly", readonly: true %></td>
            <td id="remove_id_1"></td>
          </tr>
      </tbody>
    </table>
  <% end %>
  <%= f.submit class: 'btn btn-info' %>
<% end %>
